body {
  overflow-x: hidden;
  font-family: "Cuprum", sans-serif;
  margin-top: 105px; }

.navbar {
  opacity: 0.9;
  background: #fff; }
  .navbar .navbar-brand h3 {
    color: #00aa37;
    text-transform: uppercase; }
  .navbar .nav-link {
    font-size: 16px;
    padding-left: 1em !important;
    padding-right: 1em !important;
    color: #00aa37 !important; }
    .navbar .nav-link:hover {
      color: #ec8711 !important; }
  .navbar .nav-item.active {
    border-left: #ec8711 3px solid; }

.carousel-image-1 {
  background: url("../img/image1.jpg");
  background-size: cover; }

.carousel-image-2 {
  background: url("../img/image2.jpg");
  background-size: cover; }

.carousel-image-3 {
  background: url("../img/image3.jpg");
  background-size: cover; }

#boxes h3 {
  text-transform: capitalize; }

#boxes p {
  height: 100px;
  overflow: auto; }

#boxes h4 {
  padding-bottom: 10px;
  border-bottom: #ec8711 3px solid; }

.border-primary {
  border-bottom: #00aa37 3px solid !important; }

#teaser {
  font-family: "Open Sans Condensed", sans-serif; }
  #teaser .image-container {
    position: relative;
    height: 450px !important; }
    #teaser .image-container .btn-overlay {
      background: rgba(0, 0, 0, 0.7); }
  #teaser .top-left {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 2;
    text-transform: uppercase !important;
    font-size: 2em;
    border: #00aa37 1px solid;
    border-radius: 5px;
    font-weight: 400;
    cursor: pointer;
    padding: 4px 6px;
    display: inline-block; }
    #teaser .top-left:hover {
      text-decoration: none;
      color: #00aa37;
      border-color: #ec8711; }
  #teaser .company img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    object-position: 40% 50%; }
  #teaser .teaser-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    transition: opacity 0.5 ease; }

.btn-news {
  display: inline-block;
  font-size: 2em;
  border: #00aa37 1px solid;
  color: #00aa37;
  text-decoration: none; }
  .btn-news:hover {
    color: white;
    background: #00aa37;
    text-decoration: none; }

#footer {
  background: #00aa37;
  min-height: 300px;
  color: #E7EFF4; }
  #footer h1 {
    padding-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: -2px;
    font-size: 2em; }
    #footer h1:hover {
      color: #ec8711; }
  #footer .transparent-input {
    background-color: rgba(0, 0, 0, 0) !important;
    border: none !important;
    border-bottom: #E7EFF4 1px solid !important;
    border-radius: 0px; }
  #footer .copyright {
    vertical-align: center; }
  #footer .social-icon {
    float: right; }
    #footer .social-icon i {
      font-size: 2em;
      padding-left: 6px; }
  #footer ::placeholder {
    color: #E7EFF4;
    opacity: 1;
    /* Firefox */ }
  #footer :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #E7EFF4; }
  #footer ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #E7EFF4; }

#contact ul {
  list-style: none; }

#event .blog-item img, #event-detail .blog-item img {
  width: 100%;
  height: 300px;
  object-fit: cover; }

#event .blog-item:last-child, #event-detail .blog-item:last-child {
  border-bottom: none !important; }

#event .blog-content, #event-detail .blog-content {
  line-height: 1.8em; }

#event .time, #event-detail .time {
  font-size: 1.25em;
  font-style: italic; }

#event i, #event-detail i {
  margin-left: 10px;
  font-size: 1.4rem;
  color: #777777; }

#project .card {
  background: none !important;
  border: none !important;
  text-align: center; }
  #project .card img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%); }
  #project .card .card-body {
    padding: 0.5rem; }
  #project .card .card-title {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    font-weight: 600;
    font-size: 1rem; }
  #project .card:hover {
    background: #ffffff !important; }
    #project .card:hover img {
      filter: none;
      -webkit-filter: grayscale(0%); }

#project-detail .slider {
  width: 100%;
  margin: 50px auto; }

#project-detail .slick-slide {
  margin: 0px 20px; }

#project-detail .slick-slide img {
  width: 100%;
  max-height: 550px;
  object-fit: cover; }

#project-detail .slick-prev:before,
#project-detail .slick-next:before {
  color: white; }

#project-detail .slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2; }

#project-detail .slick-active {
  opacity: .5; }

#project-detail .slick-current {
  opacity: 1; }

#project-detail i {
  margin-left: 10px;
  font-size: 1.4rem;
  color: #777777; }

#about-slider .slider {
  width: 100%;
  margin: 50px auto; }

#about-slider .slick-slide {
  margin: 0px 20px; }

#about-slider .slick-slide img {
  width: 100%;
  max-height: 550px;
  object-fit: cover; }

#about-slider .slick-prev:before,
#about-slider .slick-next:before {
  color: white; }

#about-slider .slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2; }

#about-slider .slick-active {
  opacity: .5; }

#about-slider .slick-current {
  opacity: 1; }

p {
  line-height: 1.8em; }

a {
  color: #212529; }
  a:hover {
    color: #212529;
    text-decoration: none !important; }

#company-map {
  background: #666666; }

#keymember .headshot {
  width: 450px;
  height: 450px;
  margin-right: 30px; }
  #keymember .headshot img {
    width: 160px;
    height: 160px; }

#keymember a, #keymember span {
  font-weight: 600; }

#service .row:last-child {
  border: none !important; }

#about h1, #keymember h1, #company-map h1, #service h1 {
  text-align: center;
  color: #00aa37;
  width: 50%;
  border-bottom: #ec8711 2px solid;
  text-transform: capitalize; }

#contact, #event, #event-detail, #project, #project-detail, #service-detail {
  background: #b9e2e0; }
  #contact h1, #event h1, #event-detail h1, #project h1, #project-detail h1, #service-detail h1 {
    text-align: center;
    color: #00aa37;
    width: 50%;
    border-bottom: #ec8711 2px solid; }

@media (max-width: 576px) {
  .carousel-item {
    height: 250px; }
  .wrapper {
    margin: auto 20px; } }

@media (min-width: 576px) {
  .carousel-item {
    height: 300px; }
  .wrapper {
    margin: auto 20px; } }

@media (min-width: 768px) {
  .carousel-item {
    height: 450px; }
  .wrapper {
    margin: auto 50px; }
  #keymember .col-md-6 {
    max-width: 45% !important; } }

@media (min-width: 992px) {
  .carousel-item {
    height: 600px; }
  .wrapper {
    margin: auto 80px; } }

@media (min-width: 1200px) {
  .carousel-item {
    height: 750px; }
  .wrapper {
    margin: auto 110px; } }
