$icon-size:55px;
$dark-overlay:rgba(0,0,0,0.7);
$primary: #00aa37;
$secodary: #ec8711;

$bodyFont : 'Cuprum', sans-serif;
$boxesFont: 'Open Sans Condensed', sans-serif;

body{
  overflow-x:hidden;
  font-family: $bodyFont;
  margin-top: 105px;
}

.navbar{
  // box-shadow:2px 2px 5px $primary;
  opacity:0.9;
  background:#fff;
    .navbar-brand{
        h3{
            color: $primary;
            text-transform:uppercase;
        }
    }
  .nav-link{
    font-size:16px;
    // text-transform:uppercase;
    padding-left:1em !important;
    padding-right: 1em !important;
    color: $primary !important;
    &:hover{
        color: #ec8711 !important;
    }
  }

  .nav-item.active{
    border-left:#ec8711 3px solid;
  }

}


.carousel-image-1{
  background:url('../img/image1.jpg');
  background-size:cover;
}
.carousel-image-2{
  background:url('../img/image2.jpg');
  background-size:cover;
}

.carousel-image-3{
  background:url('../img/image3.jpg');
  background-size:cover;
}


#boxes{
  // font-family: $boxesFont;
  h3{
    text-transform: capitalize;
  }
  p{
    height: 100px;
    overflow: auto;
  }
  h4{
    padding-bottom: 10px;
    border-bottom: #ec8711 3px solid;
    
  }
}

.border-primary{
  border-bottom: $primary 3px solid !important;
}


#teaser{

  font-family: $boxesFont;

  .image-container{
    position: relative;
    height: 450px !important;

    .btn-overlay{
      background: $dark-overlay;
    }
  }

  .top-left{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 2;
    text-transform: uppercase !important;
    font-size: 2em;
    border: $primary 1px solid;
    border-radius: 5px;
    font-weight: 400;
    cursor: pointer;
    padding: 4px 6px;
    display: inline-block;
    &:hover{
      text-decoration: none;
      color: $primary;
      border-color: $secodary;
    }
  }

  .company{
    

    img{
      object-fit: cover;
      height: 100%;
      width: 100%;
      object-position: 40% 50%;
    }
  }

  .teaser-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background: $dark-overlay;
    z-index: 1;
    transition: opacity 0.5 ease;
  }



}



  .btn-news{
    display: inline-block;
    font-size: 2em;
    border: $primary 1px solid;
    color: $primary;
    text-decoration: none;

    &:hover{
      color: white;
      background: $primary;
      text-decoration: none;
    }
  }




#footer{
  background: $primary;
  min-height: 300px;
  color: #E7EFF4;
  h1{
    padding-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: -2px;
    font-size: 2em;
    &:hover{
      color: $secodary;
    }
  }

  .transparent-input{
    background-color:rgba(0,0,0,0) !important;
    border:none !important;
    border-bottom: #E7EFF4 1px solid !important;
    border-radius: 0px;
 }

 .copyright{
   vertical-align: center;
 }

 .social-icon{
   float: right;

   i{
     font-size: 2em;
     padding-left: 6px;
   }
 }
 ::placeholder {
  color: #E7EFF4;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #E7EFF4;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: #E7EFF4;
}

}



// contact page

#contact{
  ul{
    list-style: none;
  }
}


#event, #event-detail{
  .blog-item{
    
    
    img{
      width: 100%;
      height: 300px;
      object-fit: cover;
    }

    &:last-child{
      border-bottom: none !important; 
    }
  }

  .blog-content{
    line-height: 1.8em;
  }

  .time{
    font-size: 1.25em;
    font-style: italic;
  }  

  i{
    margin-left: 10px;
    font-size: 1.4rem;
    color: #777777;
  }
  
}


#project{


  .card{
    background: none !important;
    border: none !important;
    text-align: center;
    img{
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
    }
    .card-body{
      padding: 0.5rem;
    }
    .card-title{
      margin-top: 0.3rem;
      margin-bottom: 0.3rem;
        font-weight: 600;
        font-size: 1rem;
    
    }

    &:hover{
      background: #ffffff !important;
      img{
        filter: none;
        -webkit-filter: grayscale(0%);
      }
    }
  }

}

#project-detail{

  .slider {
    width: 100%;
    margin: 50px auto;
  }
  .slick-slide {
    margin: 0px 20px;
  }
  .slick-slide img {
    width: 100%;
    max-height: 550px;
    object-fit: cover;
  }
  .slick-prev:before,
  .slick-next:before {
    color: white;
  }
  .slick-slide {
    transition: all ease-in-out .3s;
    opacity: .2;
  }
  .slick-active {
    opacity: .5;
  }
  .slick-current {
    opacity: 1;
  }



  i{
    margin-left: 10px;
    font-size: 1.4rem;
    color: #777777;
  }

}

#about-slider{


  .slider {
    width: 100%;
    margin: 50px auto;
  }
  .slick-slide {
    margin: 0px 20px;
  }
  .slick-slide img {
    width: 100%;
    max-height: 550px;
    object-fit: cover;
  }
  .slick-prev:before,
  .slick-next:before {
    color: white;
  }
  .slick-slide {
    transition: all ease-in-out .3s;
    opacity: .2;
  }
  .slick-active {
    opacity: .5;
  }
  .slick-current {
    opacity: 1;
  }

}

p{
  line-height: 1.8em;
}

a{
  color: #212529;

  &:hover{
    color: #212529;
    text-decoration: none !important;
  }

}

#company-map{
  background: #666666;
}

#keymember{


  // .col-md-6{
  //   max-width: 43% !important;
  // }

  .headshot{
    width: 450px;
    height: 450px;
    margin-right: 30px;

    img{
      width: 160px;
      height: 160px;
    }

  }

  

  a, span{
    font-weight: 600;
  }
}


#service{

  .row{
    &:last-child{
      border: none !important;
    }

  }

  .service-docs{

  }

}

#about, #keymember, #company-map, #service{
  h1{
    text-align: center;
    color: $primary;
    width: 50%;
    border-bottom: $secodary 2px solid;
    text-transform: capitalize;
  }
}

#contact, #event, #event-detail, #project, #project-detail, #service-detail{

  background: #b9e2e0;
  h1{
    text-align: center;
    color: $primary;
    width: 50%;
    border-bottom: $secodary 2px solid;
  }
}


@media (max-width: 576px){
  .carousel-item{
    height:250px;
  }

  .wrapper{
    margin: auto 20px;
  }
  
}

@media (min-width: 576px){
  .carousel-item{
    height:300px;
  }

  .wrapper{
    margin: auto 20px;
  }
  
}


@media (min-width: 768px){
  .carousel-item{
    height:450px;
  }

  .wrapper{
    margin: auto 50px;
  }

  #keymember{


    .col-md-6{
      max-width: 45% !important;
    }

  }
  
}

@media (min-width: 992px){
  .carousel-item{
    height:600px;
  }

  .wrapper{
    margin: auto 80px;
  }
  
}

@media (min-width: 1200px){
  .carousel-item{
    height:750px;
  }

  .wrapper{
    margin: auto 110px;
  }
}